html,
body {
  height: 100%;
}
body{


  padding-bottom: 40px;
  /* padding-bottom: 40px; */
  background:url("/static/images/sign-in-background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-origin: 100px 0px;

}
.mainbox2{
  padding-top: 60px;
  padding-right: 80px;
}
#mainboxx{
  background-color: #f6e9e9d6;
  padding-top:80px;
}
