<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <meta charset="utf-8">
    <title></title>
  </head>

<link href="{% static "css/headers.css" %}" rel="stylesheet">
<link href="{% static "css/signin.css" %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<!-- CSS only -->
a new text 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<header class="p-3 text-white" style='background-color:#083445; height:70px;'>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" width="40" height="32" zoom=120% role="img" aria-label="Bootstrap" src="{% static 'images/bootstrap-logo1.png' %}">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href='{% url 'calc:index' %}' class="nav-link px-2 text-white">Home</a></li>


          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" data-children-count="1">

        </form>

        <div class="text-end">
          <a <button type="button" href='{% url 'calc:index' %}' class="btn btn-outline-light me-2">Login</button></a>
          <a <button type="button" href='{% url 'calc:sign-up-page' %}'class="btn btn-warning">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>

  <body class="text-center" id="mainbody2">

<h1></h1>
<h1></h1>
  <main class="form-signin">

    <form method='POST'>
      {%csrf_token%}

      <img class="mb-4" src="{% static 'images/bootstrap-logo3.png' %}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="text" class="form-control" name='phone' maxlength="10" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Mobile Number</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name='passwd' id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <a href="{% url 'calc:sign-up-page' %}"> New User? Register Here</a>
      <h1></h1>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <div>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}

      </div>
      <p class="mt-5 mb-3 text-muted">&copy; CVAT Project Development Team</p>
    </form>
  </main>



    </body>

</html>
