<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <meta charset="utf-8">
    <title></title>
  </head>

<link href="{% static "css/headers.css" %}" rel="stylesheet">
<link href="{% static "css/user_details.css" %}" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" src="bootstrap-5-1.svg">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>

          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>


        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>

      </div>
    </div>
  </header>

  <body class="" id="mainbody2">

<h1></h1>
<h1></h1>
  <main class="form-signin" >

    <h1></h1>
    <h1></h1>
    <h1></h1>

      <div class="h-100 p-3 border rounded-3  ",  style="width:700px; background-color:#f6e9e9d6;",id='mainbox'>
        <div class="col-6 col-md-4",  id='user_profile'>
          <h2 style='border-bottom: solid 2px black;width:670px;'>User Profile</h2>
          </div>

          <div class="",id='main-text'>
            <h1></h1>
            <h6 style='padding-top:20px;'>Name </h6>
            <h6 style='padding-top:20px;'>Phone</h6>
            <h6 style='padding-top:20px;'>Age</h6>
            <h6 style='padding-top:20px;'>Vaccination status</h6>
            <h6 style='padding-top:20px;'>Gender</h6>
          </div>

        </div>




  </main>



    </body>

</html>
